/*
 * @project: 
 * @description: 
 * @author: Diego Sanches
 * @version: 1.0.0
 */

/* ===================
   === BASE STYLES ===
   =================== */
* {
    outline: none;
}
html,
body {
    padding: 0;
    margin: 0;
    position: relative;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    overflow: hidden;
}
::-moz-selection {
    background: #000;
    color: #FFF;
    text-shadow: none;
}
::selection {
    background: #000;
    color: #FFF;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    
    /*border-radius: 3px;*/

    outline: none;
    resize: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

}
input {}
select {}
textarea {}

/* ======================
   === BROWSER UPDATE ===
   ====================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ===============================
   === STYLE CUSTOM BY PROJECT ===
   =============================== */
    


    #logo {
        font-family: "Oswald", sans-serif;
        font-size: 32px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px;
        position: relative;
        top: 40px;
    }
    #logo span {
        text-transform: capitalize;
        color: #FFF;
        float: left;
    }
    #menuLogo {
        margin-bottom: 20px;
    }
    #menuLogo #logo {
        top: 0px;
    }


    #header {}


    #main {
        margin-left: 330px;
    }

    #mainHeader {
        position: relative;
    }
    .breadcrumb {
        background-color: #FFF;
        padding: 5px 15px;
        border-bottom: solid 1px #DDD;
    }
    .breadcrumb ul {}
    .breadcrumb ul li {
        font-style: italic;
    }
    .breadcrumb ul li a {}

    #mainHeader .icons-right {
        background-color: #FFF;
        text-align: center;
        color: #555;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-left: solid 1px #DDD;
        position: absolute;
        top: 0;
        z-index: 2;
        cursor: pointer;
    }
    #mainHeader .icons-right:hover {
        background-color: #EEE;
    }
    #mainHeader .icons-right a {
        color: #555;
        display: block;
    }
    #mainHeader #chat {
        right: 150px;
    }
    #mainHeader #alerts {
        right: 100px;
    }
    #mainHeader #ajuda {
        right: 50px;
    }
    #mainHeader #logout {
        right: 0;
    }



    #timerNow {
        font-size: 11px;
        font-style: italic;
        text-transform: none;
        position: absolute;
        bottom: 10px;
        right: 0;
    }



    




    #content {
        padding: 0 2rem;
    }








    #footer {
        padding: 0 2rem;
    }






















/* ======================
   === HELPER CLASSES ===
   ====================== */
.wrap {
    display: block;
    width: 80%;
    margin: 0px auto;
    position: relative;
}



.push {
    background-color: #444;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    width: auto;
    
    height: 16px;
    line-height: 15px;
    padding: 0 5px;

    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 2;
    box-shadow: -3px 3px 6px rgba(0,0,0,0.4);
}
.push.is-danger {
    background-color: #ff1f4b;
}
.push.is-success {
    background-color: #23d160;
    color: #000;
}
.push.is-info {
    background-color: #3273dc;
    color: #FFF;
}









.transitions {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}





.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
